body {
    font-family: 'Newsreader', serif, cursive !important;
    margin: 0px;
    padding: 0px;
    background: url('https://g.top4top.io/p_3021m73621.jpg') no-repeat center center fixed;
    background-size: cover;
}
